.search-bar {
  width: 100%;
  padding: 8px;

  border: none;
  border-radius: 8px;

  &_wrapper {
    width: 100%;
    max-width: 500px;

    display: flex;
    gap: 12px;
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    border: none;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
